/* Media query for screen width 425px */
@media screen and (max-width: 620px) {
    /* Navbar styles */
     body {
        width: 100%; /* Make the body take full width */
        margin: 0;
   
    }    
    .navbar {
       margin-left: 8%;
      /* Update styles for mobile screens if needed */
    }   
    .opçoes {
   margin-left: 4%;

    } 
    .produtos{
        margin-top: 350px;

     }

    /* Section "bebidasq" styles */
    .card {
        width: 100%; 
       /* Make each card take full width */
    }
    #bebidasq {
        width: 250px;
        margin: 22%;
    }
    #bebidasg{  
        margin: 22%;
        width: 250px;
    }
    
    /* Section "produtosA" styles */
    .acompanhamentos .card2 {
        margin-left: 22%;
        width: 250px; /* Make each card take full width */
  
    }
    .card3{
        margin-left: 22%;
    }
    #nos{
        margin-left: 9%; 
      
    }
    /* Page width */
 #missao p{
    text-align:initial;
 }
 #localidades{
width: 90%;
margin-left: 10%;
 }

 #footer{ 
    border-radius: 20px;
    display: flex;
    width: 90%;
    background-color: rgb(117, 51, 51);
 }

 
  #termos{ 
    margin-right: 3%;
    width: 10%;
    margin-top: 20%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
  }
#termos a{
  width: 100%;
  padding: 15px;
  font-size: 15px;
}
  .redesSociais{
    margin-top: 20%;
  margin-left: 10px;
  }
 .cnpj{
  width: 100%;
  margin-left: 10px;
    font-size: 10px;
    margin-top: 40%;
  }
  .whats{
    width: 47px;
  }
  
  .insta{
    width: 40px;
  }
  }
