/* Media query for screen width 425px */
@media screen and (max-width: 500px) {
    /* Navbar styles */
     body {
        width: 100%; /* Make the body take full width */
        margin: 0;
    }    
    .opçoes {
        width: auto;
        margin-left: 20px;
    } 
    .navbar {
       margin-left: 40px;
       width: 400px; /* Update styles for mobile screens if needed */
    }
    .produtos{
        margin-top: 70%;
     }
 
  
    /* Section "bebidasq" styles */
    #bebidasq .card {
        width: 100%; /* Make each card take full width */
    }
    #bebidasq {
        width: 250px;
    }
    #bebidasg{  
        
        width: 250px;
    }

    /* Section "bebidasg" styles */
    #bebidasg .card {
        
        width: 100%; /* Make each card take full width */
    }
   
    /* Section "produtosA" styles */
    .acompanhamentos .card2 {
        width: 250px; /* Make each card take full width */
    }
.card2{
    margin-left: 30px;
}
.card3{
    margin-left: 30px;
}
    /* Page width */
 #missao p{
  
    text-align:initial;
 }
 #localidades{
width: 90%;
 }
 #termos a{
    margin-left: 160%;
    font-weight: bold;
    display: inline-flex;
    justify-content: space-between;

 }
    /* Footer styles */
    #footer {
        
        width: 100%; /* Make the footer take full width */
    }
}
