@media screen and (max-width: 1325px)
{
   body{
    height: 100vh;
   }
  
  .navbar{
       height: auto;
    
    } 
  .opçoes{
    max-width: 10%;
    display: inline-flex;
  }
.produtos {
  margin-top: 350px;
  margin-left: 9%;
  width: 80%;
}
.produtosQ{
 margin-left: 100px;
} 
#bebidasq{  
   margin-left: 35%;
   border: none;
   display: none;
   flex-direction: column;
    }

.produtosGelados{
  margin-left: 9%;
  width: 80%;
}
.produtosg {
  margin-left: 9%;
  width: 80%;
}
 #bebidasg{   
   margin-left: 35%;
   border: none;
   display: none;
   flex-direction: column;
  }
  .acompanhamentos{
    margin-left: 8%;
    text-align: center; 
    border: none;
    display: flex;
    flex-direction: column;
  }
  .card{
    margin-left: 5%;
  }
  .card2 {
    margin-left: 30%;
    border: 5px solid white;
  } 
  .card3 {
    margin-left: 30%;
    border: 5px solid white;
   }
    .card2:hover {
     width: 300px;
   } 
    .card3:hover {
     width:  300px;
    }
 
 #missao img{
  padding-top: 50px;
  width: 200px;
  height: 200px;
 }
 #termos a{
  padding: 10px;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-between;

}
  /* Footer styles */

.cnpj {
   font-size:12px;
}
.redesSociais{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
}


}